* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.MD text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.sha256 text eol=lf
*.png binary
*.npz binary
*.docx binary
*.pdf binary
